html * {
	font-family: 'Farro', sans-serif;
}
.card-img-top {
    width: 80%;
    height: 10vw;
    object-fit: cover;
}
.img-custom{
	height:40vh;
	object-fit:cover;
}
.details-car-text{
	top: 25%;
	transform:translateX(-55%);
}
a{
	text-decoration:none !important;
}