/*#25396c blue*/
/*#E57F35 orange*/
@media only screen and (min-width: 1200px) {
  .footer-container{ background:url('img/footer-bg.png') no-repeat; background-size:100% 100%;}
  .mq{padding-top: 6.5em;}/*
  .news{background:url(img/news-bg.png)no-repeat;background-position:center;background-size:100% 100%;}*/
}
@media only screen and (max-width: 1200px) {
  .pt-img{padding-top:3.2em;}
  .pt-high{padding-top:3.6em;}
  .footer-container{background-color:#4B9EFA;}
  }
@media only screen and (max-width: 962px) {
  .fc{font-size:2.1em !important;}
  .sm-text{font-size: 18px;}
  .wrap-up-container{ background:url(img/wrap-up.png) no-repeat;background-size: 100% 100%; background-position: center;}
}
@media only screen and (min-width: 989px) {
.rel{transform:translateX(-5%);}
  .wrap-up-container{ background:url(img/wrap-up.png) no-repeat;background-size: contain;background-position: center;}
  .bg-c{background-color: #E57F35;}
}
@media only screen and (max-width: 600px) {
  .sm-text{font-size: 8px;}
  .fc{font-size:1.1em !important;}
  }
@media only screen and (min-width:600px){
  .circle-link, .circle-stat{border-radius: 50%;display: inline-block;height:169px;width:169px;} 
}
html *
{
  font-family: 'Lexend Deca', sans-serif;
}
.transparency{
      -webkit-mask-image:-webkit-gradient(linear, right top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
    }/*
    .clip:before{
      position:absolute;
      background:url(img/wht.png) no-repeat;

}*/
.lang-bar{
  max-width:100% !important;
}
.nav-bg{
  background:url(img/navbar-test.png) no-repeat;
  background-size:100%  100%;
}
.hov-or:hover{
  background-color:#E57F35;
}
.container-fluid{
	padding:1.2rem;
}
.white-link{
  color:white;
}
.car-home{
  position:absolute;
  top:15%;
  transform: translateX(14%);
}
.custom-car-item{
    height: 80vh;
} 
.custom-car-item .car-img{
  object-fit: cover;
    height: 80vh;
  }
  .card-img-top{
    height:120px;
    width:80px;
  }
.circular-input-box{
    border-radius: 25px !important;
}
.btn-secondary{
  background-color:#e57f35 !important;
}
.small-font{
  font-size: 0.9em;
}
.circle-stat{
  box-shadow: inset 0px 0px 0px 6px #25396C;
}
.circle-link{
  box-shadow: inset 0px 0px 0px 6px #E57F35;
}
.circle-link:hover{
  cursor:pointer;
  color:black;
}
.circle-stat:hover{
  cursor:pointer;
  color:black;
}
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}
