/*#25396c blue*/
/*#E57F35 orange*/
@media only screen and (min-width: 1200px) {
  .research-icons {
    padding: 0.7em 0.1em;
  }
}
@media only screen and (max-width: 962px) {
  .fa {
    font-size:20px !important;
  }
}
.container-fluid{
	padding:1.2rem;
}
.nav-item, .dropdown-item{
	font-size: 12px;
}
/*.carousel-container{
  padding-bottom: 0.8rem;
}*/
.custom-car-item{
    height: 60vh;
} 
.custom-car-item .car-img{
  object-fit: cover;
    height: 70vh;
  }
  .card-img-top{
    height:120px;
    width:80px;
  }
.circular-input-box{
    border-radius: 25px !important;
}
.btn-primary{
  background-color:#e57f35 !important;
}
.small-font{
  font-size: 0.9em;
}
.recent-news-container{
  background-color: #25396c;
}
.about-container{
   background: url("img/curve-bg.png") no-repeat;
   background-size:contain;
}
.articles-container{
  background:url('img/curve-bg-large.png') no-repeat;
  background-size:contain;
}
.gallery-container{
  background:url("img/curve-bg-gallery.png") no-repeat;
  background-size:contain;
}
.wrap-up-container{
  background:url("img/wrap-up.png") no-repeat;
  background-size:contain;
  background-position: center;
}
.footer-container{
   background:url('img/footer-bg.png') no-repeat;
   background-size:100% 100%;
}
.headings{
  color:white;
  padding:0.5rem 0.6rem;
  background-color:#E57F35;
}
.pt-my{
  padding-top:8em;
}
.info{
  background-color: #4b9efa;
}
.links{
  padding-top:9.1em;
}
.pt-high{
  padding-top: 9.3em;
}
.background-img{
  position:absolute;
  top:50%;
}
.flex-container{
  margin:0.3em;
  display:flex;
  justify-content: center;
}

