body{
	padding:0px 100px;
}
.tw{
	color: white;
}
.container-fluid{
	padding-bottom:2rem;
	padding-top:1.1rem;
}
.lang-bar{
	background-color:blue;
	max-width:100% !important;
}
.group-1{
	display:flex;
}
.logo{
	/*flex:3;*/
}
.logo-text{
	/*flex:3;*/
}
.carousel-caption{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}
.recent-news{
	padding:1.5rem 2rem;
	background-color: #1b9b78;
}
.container-card{
	padding:1rem 1rem;
}
.bordering{
	border:0.9px solid grey;
	box-shadow:1px 1px grey;
	padding:1rem 1rem;
}
.content{
	background-color: black;
	padding:1rem 1rem;
	padding-bottom: 1.2rem;
}
.three-col{
	padding-bottom:2rem;
}
.social-links{
	background-color: #0D0D0D;
	max-width: 100%;
	padding:0.2rem 0.2rem;
}
