.lang-bar{
	background-color:blue;
	max-width:100% !important;
	padding:0.4rem 0.2rem;

}
.tc{
	text-align: center;
}
.content{
		padding-left:120px;
}
.icon{
	padding:1.6rem;
}
.tw{
	color:white;
}
.container-bg{
	height:50vh;
}